
/* *************************************** CSS FILE FLOWERS ****************************************** */

/* HEADER */
/* Navbar phụ*********************************** */
.header {
    height: var(--header-height);
    /* background-color: wheat; */
}
.header__navbar {
    /* 2 ul nằm cùng hàng ngang */
    display: flex; 
    /* tạo khoảng cách giữa 2 ul */
    justify-content: space-between; 
    height: 45px;
    background-color: var(--primary-color);
    padding: 0 14px;
}
/* Mất dấu chấm đầu danh sách ul, li */
.header__navbar-list {
    /* list-style: none;  --đã xử lý bên base */
    padding: 0 10px 10px;
    margin: 8px 0 0;
    display: flex;
}
.header__navbar-item {
    margin: 2px 8px;
    position: relative;
    min-height: 26px;
}
/* Chưa đăng nhập */
.login .header__navbar-item:hover,
.signup .header__navbar-item:hover {
    color: rgba(255,255,255,0.7);
}

/* Đã đăng nhập */
.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}
.header__navbar-user-img {
    width: 22px; height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    list-style: none;
    border-radius: 2px;
    box-shadow: 0 3px 5px #e0e0e0;
    display: none;
}
/* Tạo mũi tên của khung */
.header__navbar-user-menu::before {
    content: "";
    border-width: 11px 10px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 26px;
    top: -20.5px;
}
/* Tạo cầu nối */
.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px; right: -5px;
    width: 64%; height: 12px;
    /* background-color: #333; */
}
.header__navbar-user-item--separate {
    border-top: 1px solid rgba(37, 22, 22, 0.05);
}
.header__navbar-user-item a {
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 6px 16px;
}
.header__navbar-user-item a:hover {
    color: var(--primary-color);
}
.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item-link {
    display: flex;
    color: var(--text-color);
}
.header__navbar-user-item-link > i {
    margin-right: 3px;
}
.header__navbar-item,
.header__navbar-item-link {
    /* Cho các item nằm trên cùng 1 hàng ngang nhưng vẫn giữ tính chất khối */    
    display: inline-block;
    /* Set size và màu cho chữ */
    font-size: 1.3rem;
    color: var(--white-color);
    /* Bỏ dấu gạch chân của liên kết */
    /* text-decoration: none;  --da xu ly ben base */
    /* Giảm độ dày chữ */
    font-weight: 400;
}
/* Khi trỏ chuột vào item bị mờ đi và hiện bàn tay */
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar-item__strong {
    font-weight: 425;
}
/* Tạo gạch ngang ngăn cách giữa các item */
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid rgba(255,255,255,0.7);
    height: 14px;
    top: 0; right: -8px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}
/* CSS icon------------------------------ */
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}
.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header notification--------------------- */
.header__notify {
    position: absolute;
    /* Hiện lên trước thanh tìm kiếm */
    z-index: 3;
    top: 118%; right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    /* Animation */
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.175s;
    /* Thông báo chuyển động nào sẽ thay đổi */
    will-change: opacity, transform; 
    /* Ẩn noti khi chưa trỏ chuột đến */
    display: none;
}
/* Tạo hình tam giác trên đầu thanh noti */
.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    /* 1 block h.vuông có 4 tam giác nhỏ lần lượt là top right bottom left */
    /* Muốn tạo 1 h.tam giác chỉ cần cho mấy chỗ còn lại màu trong suốt (transparent) */
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -27.5px;
}
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: -6px; top: -13px;
    width: 97px; height: 18px;
}
/* Tạo Animation riêng cho thanh thông báo */
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* Hiện noti khi trỏ chuột đến */
.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
    user-select: none;
}
.header__notify-list {
    padding-left: 0;
}
.header__notify-item {
    display: flex;
}
.header__notify-item:hover {
    background-color: #f7f7f7;
}
.header__notify-item--viewed {
    background-color: rgb(238, 75, 43, 0.08);
}
.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    /* Bỏ dấu gạch chân mặc định của thẻ a */
    text-decoration: none;
}
.header__notify-img {
    width: 48px;
    object-fit: contain;
}
.header__notify-info {
    margin-left: 12px;
}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 4px;
    color: #756F6E;
}
.header__notify-footer {
    display: flex;
}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}
.header__notify-footer-btn:hover {
    color: var(--primary-color);
}
/* End Header notification------------------ */
/* End header bar phụ********************************* */

/* Slogan********************************************** */
.header__slogan {
    margin: 5px 0;
    width: 100%;
    height: 107px;
    background-image: url(/user/assets/img/header-banner/bannershop4.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.header__slogan:hover {
    opacity: 0.75;
}
/* End slogan***************************************** */

/* Navbar chính**************************************** */
.header__main-navbar {
    display: flex;
    justify-content: space-evenly; 
    box-shadow: 0 1px 3px rgb(0,0,0,0.2);
    border-bottom: 1.5px solid rgba(74, 33, 34, 0.2);
    position: sticky;
    top: 0;
    background-color: var(--white-color);
    z-index: 1;
}
/* Search-------------------------------------- */
.header__search {
    /* flex: 1; */
    height: 40px;
    padding-top: 8px;
    border-radius: 2px;
    border-bottom: 1px solid #D3D3D3;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    position: relative;
}
.header__search-btn {
    color: var(--primary-color);
    background-color: var(--white-color);
    font-size: 2rem;
    margin: 0 10px 0 10px;
    border: none;
    cursor: pointer;
}
/* .header__search-btn:focus ~ .header__search-input {
    display: block;
} */
.header__search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
    /* display: none; */
}
/* Khi đặt trỏ chuột nhấp vàp ô input (.header__search-input) */
/* thì (~) gọi .header__search-history */
.header__search-input:focus ~ .header__search-history {
    display: block;
}
/* Search History */
.header__search-history {
    position: absolute;
    z-index: 2;
    top: calc(100% + 2px);
    left: 50px;
    width: 80%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 5px #a5a5a5;
    display: none;
}
.header__search--history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #a3a3a3;
    font-weight: 400;
    /* Khi text bị ngắt sẽ hiện dấu ba chấm */
    /* C1: */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0;
}
.header__search-history-item {
    height: 30px;
    padding: 0 12px;
    /* Khi text bị ngắt sẽ hiện dấu ba chấm */
    /* C2: */
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.header__search-history-item:hover {
    background-color: rgba(255, 112, 117, 0.3);
}
.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}
.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


/* End search */
/* Main menu---------------------------------- */
.header__main-navbar-list{
    display: flex;
    /* padding-left: 0; */
    margin: 8px 40px 0;
}
.header__main-navbar-item {
    margin: 10px 28px 0;
    padding-bottom: 2px;
    position: relative;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-navbar__link,
.header__main-navbar-item {
    display: block;
    color: var(--text-primary-color);
    font-size: 1.6rem;
    font-weight: 500;
}
.main-navbar__link {
    padding-bottom: 10px;
}
.header__main-navbar-now {
    color: var(--primary-color);
    border-bottom: 2px solid var(--text-primary-color);
}
.main-navbar__link:hover,
.header__main-navbar-item:hover {
    color: rgba(255, 112, 117);
}
.header__main-navbar-item:hover {
    border-bottom: 2px solid var(--text-primary-color);
}
.header__main-navbar-icon {
    font-size: 1.4rem;
    position: absolute;
    top: -3px;
    right: -14px;
}
.header__main-navbar-item__list {
    background-color: var(--white-color);
    position: absolute;
    min-width: 120px;
    font-size: 1.3rem;
    top: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* An khi chua tro chuot den */
    display: none;
}
.header__main-navbar-more:hover .header__main-navbar-item__list{
    display: block;
}
/* Tao cau noi */
.header__main-navbar-item__list::after {
    content: "";
    display: block;
    position: absolute;
    top: -20px; right: 0;
    width: 100%; height: 24px;
    /* background-color: #333; */
}
.header__main-navbar-item__list a {
    display: inline-block;
    color: var(--text-primary-color);
    width: 100%;
    line-height: 36px;
    padding: 0 10px;
}
.navbar-item__list-item:hover a {
    background-color: rgba(255, 112, 117, 0.6);
    color: var(--white-color);
}

/* End main menu */
/* CART - Giỏ hàng--------------------------------------------- */
.header__cart {
    text-align: center;
    padding-left: 50px;
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 16px;
    cursor: pointer;
    top: 15px;
}
.header__cart-wrap:hover .header__cart-list {
    display: block;
}
.header__cart-icon {
    font-size: 2.3rem;
    color: var(--primary-color);
}
.header__cart-list {
    position: absolute;
    z-index: 2;
    top: calc(100% + 9.9px); 
    right: -6.5px;
    background-color: var(--white-color);
    width: 400px; 
    border-radius: 2px;
    box-shadow: 0 2px 3.125rem rgb(0,0,0,0.2);
    cursor: default;

    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header__cart-list::before {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 10px;
    top: -25px;
    border-width: 16px 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
/* Tao cau noi */
.header__cart-list::after {
    content: "";
    display: block;
    position: absolute;
    top: -16px; right: 0;
    width: 30%; height: 20px;
    /* background-color: #333; */
}

/* No cart */
.header__cart-list-no-cart {
    padding: 24px 0;
}
.header__cart-no-cart-img {
    width: 54%;
    display: none;
}
.header__cart-list-no-cart-mess {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}
.header__cart-list-no-cart .header__cart-no-cart-img,
.header__cart-list-no-cart .header__cart-list-no-cart-mess {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Has Cart */
.header__cart-notice {
    top: -12px;
    right: 75px;
    position: absolute;
    padding: 1px 6px;
    font-size: 1.3rem;
    line-height: 1.6rem;
    border-radius: 50%;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--white-color);
}
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    /* Nếu vượt quá height, sẽ có thành scroll */
    height: 30vh;
    overflow: auto;
}
.header__cart-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header__cart-item:hover {
    background-color: #f8f8f8;
}
.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}
.header__cart-item-info {
    width: 100%;
    margin: 8px 12px;
    line-height: 22px;
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    text-align: left;
    flex: 1;
    /* Khi text bị ngắt sẽ hiện dấu ba chấm */
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description {
    font-size: 1.3rem;
    font-weight: 300;
    color: #757575;
}
.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart {
    float: right;
    margin: 12px 12px 12px;
}
.header__cart-view-cart:hover {
    background-color: var(--primary-color);
}
.header__cart-title {
    font-size: 1.6rem;
    color: var(--primary-color);
    position: relative;
    right: -10px;
    top: -4px;
}
/* End navbar chính************************************* */


/* END HEADER */

/* ************************************************************************************************** */

/* CONTAINER */
.container {
    /* height: 1300px; */
    margin-top: 12px;
    /* background-color: bisque; */
}

/* Container heading-------------------------------------------------------- */
/* .container__header {
    height: 200px;
    margin: 50px 0 10px; */
    /* background-color: violet; */
    /* border-bottom: 1.5px solid var(--primary-color);
} */
/* .container__header-title,
.container__header-content {
    width: 100%;
    text-align: center;
}
.container__header-title {
    font-size: 6rem;
    font-family: 'Dancing Script', cursive;
    margin: 20px 0 0;
}
.container__header-content {
    text-align: justify;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-style: italic;
} */

/* Container chính------------------------------------------------------------ */
/* .container__content { 
    height: 1722px;
    background-color: bisque;
} */
.container-category-sticky {
    padding-left: 0;
}
.category {
    border-radius: 3px;
    margin-bottom: 25px;
    border: 1px solid rgb(0,0,0,0.2);
    background-color: var(--white-color);
    position: sticky;
    top: 70px;
}
.category__heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-primary-color);
    background-color: rgb(255, 227, 225);
    padding: 16px 16px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(0,0,0,0.2);
}
.category-list {
    padding: 0 0 8px 0;
    margin-top: 12px;
    margin-bottom: 12px;
}
.category-item {
    position: relative;
    padding-left: 20px;
}
.category-item:first-child::before {
    display: none;
}
.category-item::before {
    content: "";
    position: absolute;
    border-top: 1px solid #e1e1e1;
    top: 0;
    left: 20px; right: 20px;
}
.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.8rem;
    display: block;
    padding: 12px 20px;
}
.category-item__link:hover,
.category-item__list-item-link:hover {
    color: var(--primary-color);
}
.category-item__list {
    margin-left: 10px;
}
.category-item__list-item {
    position: relative;
}
.category-item__list-item-link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    display: block;
    padding: 8px 20px;
}
    /* Mục hiện tại */
.category-item--active > .category-item__link,
.category-item--active > .category-item__list-item-link {
    color: var(--primary-color);
}
.category-item--active > .category-item__list-item-link::before {
    content: "";
    position: absolute;
    top: 50%; right: 20px;
    border: 6px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent var(--primary-color) transparent transparent;
}

/* TÌM KIẾM NÂNG CAO-------------------------------------------- */
.search__advanced {
    margin: 20px;
}
.search__advanced-srcname__title {
    font-size: 2.2rem;
    font-weight: 900;
}
.search__advanced-srcname__input {
    margin: 20px 0 50px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #b5b5b5;
    background-color: var(--white-color);
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.search__advanced-srcname-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}
.search__advanced-srcname-input:hover,
.search__advanced-srcname-input:focus {
    border: 1 solid rgb(255, 111, 117);
    box-shadow: 0 0 10px 4px rgba(255, 112, 117, 0.2);
}
.search__advanced-srcname-btn {
    height: 50px;
    font-size: 2rem;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}
.search__advanced-srcname-link {
    font-size: 1.6rem;
    color: var(--white-color);
}
.search__advanced-srcname-btn:hover {
    background-color: rgb(255, 111, 117, 0.85);
    color: var(--text-primary-color);
    /* border: 1px solid var(--primary-color); */
}
.search__advanced-nangcao__title {
    font-size: 1.4rem;
    font-weight: 200;
    padding: 12px;
    width: 23%;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 3px;
}
.search__advanced-nangcao__title:hover {
    cursor: pointer;
    color: var(--text-primary-color);
    background-color: var(--white-color);
    border: 2px solid var(--text-primary-color);
}
/* Ẩn/Hiện 1 thẻ div khi nhấn vào thẻ div khác-------------------------  */
/* Ẩn checkbox */
#toggle1 {
    display: none;
}
/* Ẩn div khi checkbox không được chọn */
#toggle1:not(:checked) ~ .search__advanced-nangcao {
    display: none;
}
.search__advanced-nangcao {
    margin: 30px 0;
}
.search__advanced-phanloai__option {
    padding: 20px 0 0;
}
.search__advanced-price-label,
.search__advanced-phanloai-title {
    font-size: 1.8rem;
    font-weight: 800;
    padding: 20px 10px 10px 0;
}
.search__advanced-phanloai-list {
    font-size: 1.8rem;
    padding: 4px 8px;
    border-radius: 3px;
}
.search__advanced-phanloai-list:focus {
    border: 2px solid var(--primary-color);
}
.search__advanced-price-list {
    display: flex;
    justify-content: space-around;
    padding: 8px 0 20px;
}
.search__advanced-price-item {
    text-align: center;
    margin: 4px 12px;
    font-size: 1.4rem;
}
.search__advanced-price-item label {
    margin-left: 10px;
}
.search__advanced-filter-btn {
    /* margin: 20px 0;*/
    /* text-align: right;  */
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px 20px;
    text-align: right;
    color: var(--white-color);
    border-radius: 3px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
/* .search__advanced-filter-btn span {
    padding: 10px 20px;
    font-size: 2rem;
    color: var(--white-color);
    border-radius: 3px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
} */
.search__advanced-filter-btn:hover {
    cursor: pointer;
    color: var(--text-primary-color);
    background-color: var(--white-color);
}
/* END TÌM KIẾM NÂNG CAO---------------------------------------- */

/* Ẩn/Hiện 1 thẻ div khi nhấn vào thẻ div khác-------------------------  */
/* Ẩn checkbox */
#toggle2 {
    margin: 20px 0;
    text-align: right;
    display: none;
}
/* Ẩn div khi checkbox không được chọn */
#toggle2:not(:checked) ~ .search__advanced-ketqua {
    display: none;
}
.search__advance-ketqua-title {
    padding: 50px;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    color: #a3a3a3;
}


/* Home sort + filter */
.home-filter {
    display: flex;
    align-items: center;
    /* margin-top: 50px; */
    padding: 20px 22px 12px;
    border-top: 1px solid rgb(0,0,0,0.2);
    /* background-color: rgb(255, 227, 225); */
}
.home-filter__label {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 16px;
}
.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}
.home-filte_border {
    border-radius: 15px;
    border: 1.3px solid rgb(0,0,0,0.5);
}
/* .home-filte_timkiem {
    position: relative;
    right: -180px;
} */
.home-filte_find {
    border-radius: 3px;
    border: 1.3px solid rgb(0,0,0,0.5);
}
.home-filte_find:hover,
.home-filter__btn:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* Product--------------------------------------------------------- */
.container__product {
    margin-bottom: 10px;
}
.container__product-item {
    display: block;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0,0,0,0.2);
    /* Animation: nếu có xảy ra chuyển động transform, thì áp dụng chuyển động linear với thời gian là 0.1s */
    transition: transform linear 0.1s;
    will-change: transform;
}
.container__product-item:hover {
    box-shadow: 0 1px 20px 0 rgb(0,0,0,0.05);
    transform: translateY(-4px);
}
.container__product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.container__product-item__name {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 8px;
    text-align: center;
    padding-top: 8px;
}
.container__product-item__price {
    text-align: center;
}
.container__product-item__price-current {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--text-primary-color);
}
.container__product-item__action {
    margin-top: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    /* border-top: 1px solid rgb(0,0,0,0.2); */
}
.container__product-item__cart {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: var(--text-color);
    font-size: 1.3rem;
}
.container__product-item__cart:hover,
.container__product-item__action:hover {
    color: var(--white-color);
    background-color: rgb(223, 145, 154);
    /* background-color: var(--primary-color); */
}
.container__product-item__sale-off {
    position: absolute;
    right: 12px; top: 12px;
    width: 44px; height: 40px;
    text-align: center;
    background-color: rgba(255 242 104);
    border-radius: 50%;
}
.container__product-item__sale-off-percent {
    color: var(--text-primary-color);
    font-size: 1.5rem;
    line-height: 1.3rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    top: 13px;
}
/* End Product--------------------------------------------------------- */

/* Pagination */
.container__product-pagination {
    margin: 48px 0 32px 0;
}
.pagination-item__icon:hover {
    color: #939393;
    background-color: var(--white-color);
}
/* End Pagination */

/* Extra------------------------------------------------- */
.container__extra {
    height: 250px;
    width: 100%;
    /* margin-bottom: 30px; */
    border-top: 1px solid rgb(0,0,0,0.2);
    /* background-color: violet; */
}
.container__text {
    padding-top: 30px;
    width: 100%;
    text-align: center;
    font-style: italic;
}
.container__extra-title {
    font-size: 2.4rem;
    color: var(--text-primary-color);
    font-weight: 700;
    margin-bottom: 20px;
}
.container__extra-icon {
    position: relative;
    top: 3px;
    font-size: 3rem;
}
.container__extra-content {
    font-size: 1.4rem;
    line-height: 2rem;
}
.container__extra-content p {
    width: 66%;
    display: inline-block;
    justify-content: center;
}
.container__extra-khung-mail {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 60px; 
}
.container__extra-email {
    width: 70%;
    border-radius: 2px;
    border: 1px solid #b5b5b5;
    background-color: var(--white-color);
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.container__extra-email-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}
.container__extra-email-input:hover,
.container__extra-email-input:focus {
    border: 1 solid rgb(255, 111, 117);
    box-shadow: 0 0 10px 4px rgba(255, 112, 117, 0.2);
}
.container__extra-email-btn {
    height: 60px;
    font-size: 2rem;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}
.container__extra-email-link {
    color: var(--white-color);
}
.container__extra-email-btn:hover {
    background-color: rgb(255, 111, 117, 0.85);
    color: var(--text-primary-color);
    /* border: 1px solid var(--primary-color); */
}
/* End extra--------------------------------------------- */


/* END CONTAINER */

/* ************************************************************************************************** */

/* FOOTTER */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 32px;
    background-color: rgba(255, 112, 117, 0.1);
}
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    line-height: 18px; /* tự thêm */
    height: 30px;
}
.footer-list {
    padding-left: 0;
    list-style: none;
    line-height: 24px; /* tự thêm */
}
.footer-item__link,
.footer-item__text {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    display: flex;
    padding: 2px 0;
}
.footer-item__link:hover {
    color: var(--primary-color);
}
.footer-item__icon {
    font-size: 1.6rem;
    margin: 3.5px 8px 0 0;
}
.footer__download {
    display: flex;
}

.footer__bottom {
    background-color: var(--primary-color);
    padding: 14px 0;
    margin-top: 36px;
}
.footer__text {
    margin: 0;
    color: var(--white-color);
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
}

/* END FOOTTER */

/* ************************************************************************************************** */